html
{
    font-family: 'Courier New', Courier, monospace;
}

body, .jumbotron
{
    background: #17A2B8;
    color: #e2e2e2;
}

strong
{
    font-size: 2rem;
}

/*-----------------------------------------*/

.jumbotron
{
    padding-bottom: 2rem;
}

.by
{
    padding-bottom:1.5rem;
}

.my-4
{
    background-color: #e2e2e2;
}

/*-----------------------------------------*/
.white-container
{
    background-color: #e2e2e2;
    color: #1a1a1a;
    padding: 3rem 0 3rem 0;
    margin-bottom:1rem;
}

.algorithms
{
    padding-left:1.7rem;
}

.col-4, .col-8, .col-12
{
    margin: 1.5rem 0 1.5rem 0;
}

.white-container h1
{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.white-container h6
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.example
{
    padding-bottom: .5rem;
}

.form-control:focus
{
    background-color:#17A2B8;
    color:#fff;
    border: none;
}

.btn
{
    border-radius: .6rem;
}

#btn-space
{
    margin-bottom: 1rem;
}

/*-----------------------------------------*/
.contact { margin: -.4rem 0 1rem 1.5rem;}
.contact a { color: #e2e2e2; }
.contact a:hover { color: #fff; }
.contact i { font-size:50px; }
.contact h4 { margin-bottom: 1.5rem;}
