html
{
    font-family: 'Courier New', Courier, monospace;
}

body, .jumbotron
{
    background-color: #e2e2e2;
}

strong
{
    font-size: 2rem;
}

/*-----------------------------------------*/

.jumbotron
{
    padding-bottom: 2rem;
}

.by
{
    padding-bottom:1.5rem;
}

/*-----------------------------------------*/
.blue-container
{
    background: rgb(34,137,171);
    background: radial-gradient(circle, rgba(34,137,171,1) 0%, rgba(32,132,149,1) 100%);
    color: #e2e2e2;
    padding: 3rem 0 3rem 0;
    margin-bottom:1rem;
}

.grey-container
{
    background: rgb(61,61,61);
    background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(61,61,61,1) 100%);
    color: #e2e2e2;
    padding: 3rem 0 3rem 0;
    margin-bottom:1rem;
}

.algorithms
{
    padding-left:1.7rem;
}

.col-4, .col-8, .col-12
{
    margin: 1.5rem 0 1.5rem 0;
}

.blue-container h1
{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.blue-container h6
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.grey-container h1
{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.grey-container h6
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.example
{
    padding-bottom: .5rem;
}

.form-control:focus
{
    background-color: #dbdbdb;
    border: none;
}

.btn
{
    border-radius: .6rem;
}

#btn-space
{
    margin-bottom: 1rem;
}

/*-----------------------------------------*/
