html
{
    font-family: 'Courier New', Courier, monospace;
}

body, .jumbotron
{
    background-color: #e2e2e2;
}

strong
{
    font-size: 2rem;
}

/*-----------------------------------------*/

.jumbotron
{
    padding-bottom: 2rem;
}

.description
{
    padding-bottom:1.5rem;
}

/*-----------------------------------------*/
.blue-container
{
    background: rgb(52,82,96);
    background: linear-gradient(90deg, rgba(52,82,96,0.9724264705882353) 0%, rgba(47,116,146,1) 24%, rgba(47,116,146,1) 42%, rgba(23,162,184,1) 71%, rgba(29,177,200,1) 100%);
    color: #e2e2e2;
    padding: 3rem 0 3rem 0;
    margin-bottom:1rem;
}

.algorithms
{
    padding-left:1.7rem;
}

.col-4, .col-8
{
    margin: 1.5rem 0 1.5rem 0;
}

.blue-container h1
{
    font-size: 3rem;
    padding-bottom: 1rem;
}

.blue-container h6
{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.example
{
    padding-bottom: .5rem;
}

.form-control:focus
{
    background-color: #dbdbdb;
    border: none;
}

.btn
{
    border-radius: .6rem;
}

/*-----------------------------------------*/
